
html {
	height: 95%;
}

body {
	position: relative;
	background-color: #7377B4;
	background-image: url("../images/assets/Background.png");
	background-size: 1000px;
	background-position: -20vw 30vh;
	background-repeat: no-repeat;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: "vazir";
}
@media only screen and (max-width: 850px) {
    .pic {
        display: none;
    }
}
@font-face {
	font-family: "vazir";
	src: url("font/Vazir.ttf") format("truetype");
}
.head {
	margin-top: 2%;
}
#logo-image{
	margin-right: 20%;
	vertical-align: bottom;
	width: 45px;
	height: 45px;
}
a#logo{
	display: inline-block;
	color : white;
	font-size: 22px;
	font-weight: normal;
	margin-right: 10px;
}

a#logo:hover{
	color : lightgray;
}
a {
	text-decoration: none;
}
i {
	margin-left: 10px;
	color : white;
}

.dropdown {
	float: left;
	margin-left: 20%;
    display: inline-block;
	color : white;
	font-size: 18px;
	font-weight: normal;
	background-color: #7377B4;
	border: none;
}

.content {
	width: 150%;
	line-height: 2em;
    display: none;
    position: absolute;
    color: black;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
}

.dropdown:active .content {
    display: block;
}

.content:hover {
	background-color: #D5D2C1;
}
span:hover {
	color: #A0BFAC;
}
#animation{
	background-image: url("HomeSlideShow/1.png");
	width:215px;
	height:305px;
	background-size: 217px;
	position: absolute;
	display: inline;
	left: 25%;
	top: 22%;
	animation-name: FadeInOut;
	animation-iteration-count: infinite;
	transition-timing-function: linear;
	animation-duration: 30s;
}
#animation:hover {
	animation-play-state: paused;
}

@keyframes FadeInOut {
	0% { background-image: url(HomeSlideShow/1.png); }
	12.5% {background-image: url(HomeSlideShow/2.png);}
	25% { background-image: url(HomeSlideShow/3.png); }
	37.5% {background-image: url(HomeSlideShow/4.png);}
	50% { background-image: url(HomeSlideShow/5.png); }
	62.5% {background-image: url(HomeSlideShow/6.png);}
	75% { background-image: url(HomeSlideShow/7.png); }
	87.5% {background-image: url(HomeSlideShow/8.png);}
	100% {background-image: url(HomeSlideShow/1.png);}
}
p#below-pic{
	position: relative;
	top: 100%;
	font-size: 25px;
	color: white;
	text-align: center;
}
div.ways{
	position: relative;
	display: inline-block;
	right: 25%;
	margin-top: 5%;
	background-color: white;
	width: 24.2%;
	border: 1px solid white;
	border-radius: 5px;
	height: 30px;
}

div.two-way{
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	background-color: #483D8B;
	height: 100%;
	width: 60%;
	color: white;
	border-radius: 5px 0px 0px 5px;
}
a.two-way:hover div{
	background-color: #7569BD;
}
a.one-way:hover div{
	color: #AEAAA7;
}

div.one-way{
	position: relative;
	text-align: center;
	background-color: white;
	height: 100%;
	width: 40%;
	color: black;
	border-radius: 0px 5px 5px 0px;
}

#from-logo {
	margin-right: 20px;
}
#to-logo {
	margin-right: 20px;
}
#source-logo {
	margin-right: 20px;
}
#dest-logo {
	margin-right: 20px;
}
p.search-white{
	display: inline-block;
	font-size: 16px;
	color: white;
	margin-top: 5%;
}
p.adult{
	position: absolute;
	right: 20%;
	bottom: 25%;
	font-size: 10px;
}

p.child{
	position: absolute;
	bottom: 25%;
	right: 40%;
	font-size: 10px;
}

p.infant{
	position: absolute;
	bottom: 25%;
	right: 70%;
	font-size: 10px;
}
i#adult{
	position: absolute;
	bottom: 18%;
	right: 12%;
}
i#child{
	position: absolute;
	bottom: 18%;
	right: 38%;
}
i#infant{
	position: absolute;
	bottom: 18%;
	right: 70%;
}
select.adult{
	position: absolute;
	bottom: 16%;
	right: 18%;
	width: 15%;
	height: 8%;
	border-radius: 2px;
}
select.child{
	position: absolute;
	bottom: 16%;
	right: 46%;
	width: 15%;
	height: 8%;
	border-radius: 2px;
}
select.infant{
	position: absolute;
	bottom: 16%;
	right: 75%;
	width: 15%;
	height: 8%;
	border-radius: 2px;
}
#source{
	position: absolute;
	left: 5%;
	top: 3%;
	height: 10%;
	width: 50%;
	border-radius: 5px;
    font-family: "vazir";
}
#destination{
	position: absolute;
	left: 5%;
	top: 17%;
	height:10%;
	width: 50%;
	border-radius: 5px;
    font-family: "vazir";
}
#date{
	position: absolute;
	left: 5%;
	top: 30%;
	height: 10%;
	width: 50%;
	border-radius: 5px;
	text-align: left;
    font-family: "vazir";
}

#returnDate{
	position: absolute;
	left: 5%;
	top: 45%;
	height: 10%;
	width: 50%;
	border-radius: 5px;
	text-align: left;
	background-color: gray;
	border: 1px solid gray;
    font-family: "vazir";
}

hr{
	position: relative;
	color : white;
	width : 70%;
}


#footer{
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	text-align: center;
	color : white;
	font-size: 12px;
}

div#search{
	position: relative;
	background-color: #483D8B;
	margin-top: 1%;
	width: 24.2%;
	margin-right: 25%;
	border-radius: 5px 5px 0px 0px;
	color: white;

}
#searchButton{
	position: relative;
	background-color: #FA8072;
	width: 100%;
	height: 3em;
	border-radius: 0px 0px 5px 5px;
	color: white;
	text-align: center;
	font-family: "vazir";
}

#searchButton:active{
	box-shadow: inset 0 0 10px #000000;
}
a.search:hover div {
	background-color: #FBA399;
}

.dropdown:hover .content{
  display: block;
}
