html {
	position: relative;
	background-color: white;
}
@font-face {
	font-family: "vazir";
	src: url("font/Vazir.ttf") format("truetype");
}
#head {
	color: darkblue;
	top: 0;
	position: fixed;
	background-color: white;
	width: 100vw;
	z-index: 1000;
	text-align: center;
}

.logo-image {
	width: 2.5em;
	vertical-align: middle;
}

.logo-text {
	display: inline-block;
	font-family: "vazir";
	font-size: 1.3em;
}

.logo-text:hover {
	display: inline-block;
	font-family: "vazir";
	font-size: 1.3em;
}
.logo-text:hover  {
	color: lightblue;
}
#user {
	padding-bottom: 20px;
	padding-top: 20px;
	font-family: "vazir";
	font-size: 1em;
	text-align: center;
}
.user-dropdown {
	color: black;
	position: absolute;
	left: 1em;
	right: 1em;
    background-color: lightgray;
    display: none;
    border-radius: 0.5em;
    margin-top: 0.5em;
}
div#user:hover  {
	color: lightblue;
}
div#user:hover .user-dropdown{
	display: block;
}
#ticket, #exit {
	line-height: 2;
	text-decoration: none;
}

#navparent {
	width: 100vw;
	margin-top: 5em;
}
#nav {
	text-align: center;
	background-color: #7377B4;
	padding: 25px;
	color: darkblue;
}
a.links {
	font-family: "vazir";
	color: darkblue;
	text-decoration: none;
}


a.links:hover {
	color: white;
	text-decoration: none;
}

a.page {
	font-family: "vazir";
	color: white;
	text-decoration: none;
}
a.page:hover {
	color: lightblue;
	text-decoration: none;
}
i#page {
	color: white;
}
#text-above {
	font-family: "vazir";
}
#back {
	width: 100vw;
	padding-top: 25px;
	padding-bottom: 5px;
}
#time {
	float: left;
	color: red;
}
.back-link {
	float: right;
	color: black;
	text-decoration: none;
}
.back-link:hover {
	color: gray;
	text-decoration: none;
}
#gray {
	width: 100vw;
	background-color: white;
}
#gray-table {
	border: 20px solid lightgray;
	background-color: lightgray;
	border-radius: 10px;
}
#info {
	font-family: "vazir";
}
#white-table1 {
	margin-top: 10px;
	background-color: white;
	border-radius: 10px;
	width: 100%;
}
#loc {
	font-family: "vazir";
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.rows {
	font-family: "vazir";
	padding-top: 10px;
	padding-bottom: 10px;
}

#bill {
	font-family: "vazir";
}
#white-table2 {
	font-family: "vazir";
	font-size: 1em;
	margin-top: 1em;
	line-height: 2em;
	background-color: white;
	border-radius: 1em;
	width: 100%;
}
div#bill {
	width: 99%;
	color: gray;
	margin: 0 auto;
	height: 20%;
}
div#bill- {
	width: 99%;
	color: gray;
	margin: 0 auto;
	height: 20%;
}

#bill-adult {
	border-top: 1px solid darkgray;
	width: 99%;
	background-color: lightgray;
	margin: 0 auto;
	height: 18%;
}
#bill-child {
	border-top: 1px solid darkgray;
	width: 99%;
	margin: 0 auto;
	height: 18%;

}
#bill-infant {
	border-top: 1px solid darkgray;
	width: 99%;
	background-color: lightgray;
	margin: 0 auto;
	height: 18%;
}
#bill-sum{
	border-top: 1px solid darkgray;
	width: 99%;
	background-color: lightgreen;
	margin: 0 auto;
	height: 18%;
}
#information {
	font-family: "vazir";
}
.row.person {
	font-family: "vazir";
	line-height: 3;
}
.col-xs-12.col-md-2.col-md-push-10.name {
	color: #000080;
}

.col-xs-12.col-md-1.col-md-push-7.gender {
	font-family: "vazir";
	font-size: 1em;
}
.gender-dropdown {
	color: black;
	position: absolute;
	left: 1em;
	right: 1em;
    background-color: white;
    border-radius: 0.2em;
    display: none;
    width: 100%;
    z-index: 1;
}
.col-xs-12.col-md-1.col-md-push-7.gender:hover .gender-dropdown{
	display: block;
    text-decoration: none;
}
.gender-select:hover{
	background-color: darkgray;
}
.gender-select:active{
	background-color: gray;
}

.in {
	width: 100%;
	border-radius: 3px;
	height: 90%;
	color: gray;
}
.pay {
	margin-top: 2em;
	background-color: #483D8B;
	width: 100%;
	border: 5px;
	height: 3em;
	border-radius: 10px;
	color: white;
	font-family: "vazir";
}
.pay:hover {
	background-color: #7569BD;
}
.pay:active {
	box-shadow: inset 0 0 10px #000000;
}
.cancel {
	margin-top: 2em;
	background-color: #FA8072;
	width: 100%;
	border: 5px;
	height: 3em;
	border-radius: 10px;
	color: white;
	font-family: "vazir";
}
.cancel:hover {
	background-color: #FBA399;
}
.cancel:active {
	box-shadow: inset 0 0 10px #000000;
}
.footer {
	font-family: "vazir";
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 100%;
}
.add-green {
	margin-top: 2em;
	background-color: #129030;
	width: 100%;
	border: 5px;
	height: 3em;
	border-radius: 10px;
	color: white;
	font-family: "vazir";
}
.add-red {
	margin-top: 2em;
	background-color: #FF6347;
	width: 100%;
	border: 5px;
	height: 3em;
	border-radius: 10px;
	color: white;
	font-family: "vazir";
}

input.ng-invalid {
	background-color:pink;
}
input.ng-valid {
	background-color:lightgreen;
}