html {
	position: relative;
	background-color: white;
}
@font-face {
	font-family: "vazir";
	src: url("font/Vazir.ttf") format("truetype");
}
#head {
	color: darkblue;
	top: 0;
	position: fixed;
	background-color: white;
	width: 100vw;
	z-index: 1000;
	text-align: center;
}

.logo-text {
	display: inline-block;
	font-family: "vazir";
	font-size: 1.3em;
}

.logo-text:hover {
	display: inline-block;
	font-family: "vazir";
	font-size: 1.3em;
}
.logo-text:hover  {
	color: lightblue;
}
#user {
	padding-bottom: 20px;
	padding-top: 20px;
	font-family: "vazir";
	font-size: 1em;
	text-align: center;
}
.user-dropdown {
	color: black;
	position: absolute;
	left: 1em;
	right: 1em;
    background-color: lightgray;
    display: none;
    border-radius: 0.5em;
    margin-top: 0.5em;
}
div#user:hover  {
	color: lightblue;
}
div#user:hover .user-dropdown{
	display: block;
}
#ticket, #exit {
	line-height: 2;
	text-decoration: none;
}

#navparent {
	width: 100vw;
	margin-top: 5em;
}
#nav {
	text-align: center;
	background-color: #7377B4;
	padding: 25px;
	color: darkblue;
}
a.links {
	font-family: "vazir";
	color: darkblue;
	text-decoration: none;
}


a.links:hover {
	color: white;
	text-decoration: none;
}

a.page {
	font-family: "vazir";
	color: white;
	text-decoration: none;
}
a.page:hover {
	color: lightblue;
	text-decoration: none;
}
i#page {
	color: white;
}
#text-above {
	font-family: "vazir";
}
#back {
	width: 100vw;
	padding-top: 25px;
	padding-bottom: 5px;
}
#time {
	float: left;
	color: red;
}
.back-link {
	float: right;
	color: black;
	text-decoration: none;
}
.back-link:hover {
	color: gray;
	text-decoration: none;
}
#gray {
	width: 100vw;
	background-color: white;
}
#gray-table {
	border: 20px solid lightgray;
	background-color: lightgray;
	border-radius: 10px;
}
#info {
	font-family: "vazir";
}
[id^="white"] {
	margin-top: 10px;
	background-color: white;
	border-radius: 10px;
	width: 100%;
	padding-left: 0 !important;
}
.rows {
	font-family: "vazir";
}

#footer{
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	text-align: center;
	color : black;
	font-size: 12px;
	font-family: "vazir";
}

a.search:hover div {
	background-color: #FBA399;
}

.but{
	background-color: #FA8072;
	width: 100%;
	border-radius: 5px 0px 0px 5px;
	line-height: 3.5em;
	color:black;
}

.but:active{
	box-shadow: inset 0 0 10px #000000;
}

#logo-image {
	width: 2.5em;
	vertical-align: middle;
}


.logo-text {
	font-family: "vazir";
	font-size: 24px;
	text-decoration: none;
	color: darkblue;
}
.num{
	font-size: 12px;
	font-family: "vazir";
	color:gray;
}

[id^='red-but']{
	margin: 0px;
	padding: 0px;
	margin-left: 0px;
	float:left;
	padding-bottom: 0px;
}

[id^='fr-lg'] {
	margin-right: 20px;
	/*font-family: "vazir";*/
	font-size: 12px;
	color: gray;
	margin-top: 17px;
}
[id^='from-logo'] {
	margin-right: 20px;
	/*font-family: "vazir";*/
	font-size: 12px;
	color: gray;
	margin-top: 17px;
}
div[id^="loc"] {
	text-align: center;
	padding-top: 10px;
  font-size: 18px;
  font-family: "vazir";
}
div[id^="date"]{
  font-size: 12px;
	margin-top: 10px;
	margin-top: 15px;
}
div[id^="title"]{
  font-size: 18px;
	margin-top: 12px;
}
#loc0 {
    font-size: 18px;
    margin-top: 12px;
}
#filter{
	font-family: "vazir";
	margin-bottom: 1%;
	margin-top: 1%;
}
.sort {
    background-color: #40E575;
    margin: 0.1em;
    border-radius: 0.5em;
	line-height: 2em;
}