@font-face {
	font-family: "vazir";
	src: url("font/Vazir.ttf") format("truetype");
}
body {
	width: 95%;
}
#head {
	position: fixed;
	display: inline-flex;
	width: 100%;
	background-color: white;
	z-index: 1;
	top: 0;
	line-height: 4em;
}
.logo {
	order: 2;
	width: 35%;
	text-align: right;
}
.blank {
	order: 3;
	width: 25%;
}
.user {
	margin-top: 0.5em;
	order: 4;
	width: 10%;
	text-align: right;
	font-family: "vazir";
	color: darkblue;
}
.user-dropdown {
	display: none;
	width: 10%;
	position: absolute;
	text-align: right;
	line-height: 3em;
	background-color: lightgray;
	border-radius: 1em; 
}
.user:hover .user-dropdown {
	display: block;
}
.drop {
	text-decoration: none;
	line-height: 2em;
	padding-right: 1em;
}
.logo-text {
	font-family: "vazir";
	font-size: 24px;
	text-decoration: none;	
	color: darkblue;
}
#logo-image {
	width: 2.5em;
	vertical-align: middle;
}

#navparent {
	width: 100%;
	text-align: center;
	font-family: "vazir";
	background-color: #7377B4;
	padding: 25px;
	font-size: 15px;
	margin-top: 5em;
}
.links {
	text-decoration: none;
	color: darkblue;
}
.links:hover {
	color: white;
}
.page {
	text-decoration: none;
	color: white;
}
.page:hover {
	color: lightblue;
}
i {
	color: darkblue;
}

.back {
	display: inline-flex;
	width: 100%;
	line-height: 5em;
}
.print {
	width: 35%;
	order: 3;
	text-align: left;
}
#print-but {
	width: 25%;
	font-family: "vazir";
	height: 3em;
	border-radius: 5px;
	color: white;
	background-color: #FF8072;
	padding: 10px;
	text-decoration: none;
}

.tickets {
	width: 35%;
	order: 2;
	text-align: right;
	font-family: "vazir";
	height: 100%;	
}
.two-1 {
	order: 1;
	width: 15%;
}
.two-2 {
	order: 4;
	width: 15%;
}
.container {
	display: inline-flex;
	width: 100%;
	margin-bottom: 2em;
}
.gray {
	float: none;
	width: 70%;
	order: 4;
	background-color: lightgray;
	border-radius: 10px;
	padding-bottom: 1em;
}
.row-1{
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
}
.six-1 {
	width: 50%;
	order: 1;
	text-align: center;
	display: inline-flex;
}
.six-2 {
	order: 2;
	width: 50%;
	text-align: center;
	display: inline-flex;

}
.four {
	width: 70%;
	order: 2;
	text-align: center;
	font-family: "vazir";
	font-size: 25px;
	font-weight: bold;
	margin-top: 0.7em;
}
.two {
	order: 1;
	font-family: "vazir";
	font-size: 15px;
	text-align: center;
	margin-top: 0.6em;
	width: 30%;
}
hr {
	width: 90%;
}
.row-2 {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
}
.one {
	text-align: right;
	font-family: "vazir";
	margin-top: 1em;
	width: 15%;
	margin-bottom: 1em;
}
.three {
	display: inline-flex;
	width: 30%;
}
.five {
	display: inline-flex;
	width: 40%;
}
.four-2 {
	width: 80%;
	order: 2;
	text-align: right;
	font-family: "vazir";
	font-size: 25px;
}
.two-3 {
	order: 1;
	font-family: "vazir";
	font-size: 15px;
	text-align: right;
	margin-top: 0.6em;
	padding-right: 2em;
	width: 20%;
}
.row-3 {
	width: 100%;
	display: inline-flex;
	flex-wrap: nowrap;
}
.text-1 {
	font-family: "vazir";
	text-align: right;
	display: inline-flex;
	flex-wrap: wrap;
	width: 17%;
	padding-right: 2em;
	font-size: 0.8em;
}
.text-2 {
	text-align: right;
	padding-right: 2em;
	font-family: "vazir";
	font-size: 0.8em;
	width: 32%;
}
.loc-1 {
	font-family: "vazir";
	text-align: right;
	width: 13%;
	padding-right: 1.2em;
	font-size: 1.2em;
	text-align: center;
	border-radius: 5px;
}
.loc-2 {
	text-align: right;
	padding-right: 1.2em;
	font-family: "vazir";
	font-size: 1.2em;
	width: 32%;
	text-align: center;
	border-radius: 5px;		
}
.white {
	line-height: 2.2em;
	vertical-align: middle;
	margin-left: 12%;
	font-size: 1.5em;
	font-family: "vazir";	
	width: 100%;
	background-color: white;
	border-radius: 0.5em;
	text-align: center;
}
@media screen and (max-width: 800px) {
	.gray {
		width: 100%;
	}
	.two-1 {
		width: 0;
	}
	.two-2 {
		width: 0;
	}
	.tickets {
		width: 50%
	}
	.print {
		width: 50%;
	}
	.logo {
		text-align: center;
		width: 50%;
	}
	.user {
		width: 50%;
	}
	.six-1 {
		width: 100%;
	}
	.six-2 {
		width: 100%;
	}
	.five {
		width: 100%; 
	}
	.three {
		width: 60%;
	}
	.one {
		width: 20%;
	}
	#print-but {
		padding-left: 40px;
		padding-right: 40px;
	}
	.row-3 {
		flex-wrap: wrap;
	}
}
@media screen and (max-width: 430px) {
	#navparent {
		margin-top: 9em;
	}
	.three {
		width: 100%;
	}
	.one {
		width: 50%;
	}
}


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 200ms;	
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 15em auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #666;
	width: 300px;
	position: relative;
	border-radius: 1em;
}
.popup .close {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 20px;
	right: 20px;
	opacity: 0.8;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #666;
}
.content {
	padding: 15%;
}
.print-popup-content {
	width: 30%;
	margin-left: 5%;
	margin-right: 10%;
	background-color: #FF8072; 
	border-radius: 0.5em;
	line-height: 2em;
}