<link rel="stylesheet" href="css/home.css">
<div class="head">
        <a href="home.html">
            <img id="logo-image" alt="logo" src= "images/assets/LogoWhite.png">
        </a>
        <a id="logo">اکبر تیکت</a>
        <i class="fa fa-registered fa-x" aria-hidden="true" ></i>
        <div class="dropdown">
            <span><i class="fa fa-user fa-lg " aria-hidden="true" ></i> نام کاربر</span>
            <form ng-controller="FlightController as userCtrl" novalidate>
                <div class="content">
                    <a id="ticket" href="#">بلیط های من</a><br>
                    <a id="exit" ng-click="userCtrl.logout(1)" href="#login">خروج</a>
                </div>
            </form>
        </div>
        <hr>
    </div>
    <div class="pic">
        <div id="animation"> <p id="below-pic">سفر ارزان و آسان با <br> اکبر تیکت</p> </div>
    </div>
    <div class="ways">
        <a class="one-way" href="#"><div class="one-way">یک طرفه</div></a>
        <a class="two-way" href="#"><div class="two-way">رفت و برگشت </div></a>
    </div>
    <div id = "search">
        <i id="from-logo" class="fa fa-plane fa-lg" aria-hidden="true"></i>
        <p class="search-white">مبدا</p>
        <br>
        <i id="to-logo" class="fa fa-plane fa-flip-vertical fa-lg" aria-hidden="true"></i>
        <p class="search-white">مقصد</p>
        <br>
        <i id="source-logo" class="fa fa-calendar fa-lg" aria-hidden="true"></i>
        <p class="search-white">رفت</p>
        <br>
        <i id="dest-logo" class="fa fa-calendar fa-lg" aria-hidden="true"></i>
        <p class="search-white">برگشت</p>
        <div class="select">
            <select name="source" id="source" ng-model="searchInfo.source"><option value="THR">تهران</option><option value="MHD">مشهد</option><option value="IFN">اصفهان</option></select><br>
            <select name="destination" id="destination" ng-model="searchInfo.destination"><option value="MHD">مشهد</option><option value="THR">تهران</option><option value="IFN">اصفهان</option></select><br>
            <input id="date" type="text" name="date" value="05Feb" ng-model="searchInfo.date" required>
            <input type="text" id="returnDate" name="returnDate" value="05Feb" required>
        </div>
        <p class="adult">بزرگسال</p>
        <p class="child">کودک زیر ۱۲ سال</p>
        <p class="infant">نوزاد زیر ۲ سال</p>
        <i id="adult" class="fa fa-male fa-lg" aria-hidden="true"></i>
        <i id="child" class="fa fa-child fa-lg" aria-hidden="true"></i>
        <i id="infant" class="fa fa-child fa-x" aria-hidden="true"></i>
        <select class="adult" name="adult" ng-model="searchInfo.adultCount">
            <option data-ng-repeat="i in [0,1,2,3,4,5,6,7,8]">{{i}}</option>
        </select><br>
        <select class="child" name="child" ng-model="searchInfo.childCount">
            <option data-ng-repeat="i in [0,1,2,3,4,5,6,7,8]">{{i}}</option>
        </select><br>
        <select class="infant" name="infant" ng-model="searchInfo.infantCount">
            <option data-ng-repeat="i in [0,1,2,3,4,5,6,7,8]">{{i}}</option>
        </select><br>
        <a ng-click="flightController.getFlights(searchInfo)" href="#search"><button id="searchButton" type="button" class="btn-info"> جستجو </button></a>
    </div>
    <div id="footer">  آیسا جوادزاد، ساسان یساری |دانشکده‌فنی‌ دانشگاه‌تهران،بهار ۱۳۹۶ </div>