<link rel="stylesheet" href="css/login.css">
<div class="login-page">
    <div class="form">
        <form class="login-form" id="loginForm" ng-controller="FlightController as userCtrl" novalidate>

            <input class="inp" type="text" ng-model="userCtrl.userInfo.username" placeholder="نام کاربری"/>
            <input class="inp" type="password" ng-model="userCtrl.userInfo.password" placeholder="رمز عبور"/>

            <a ng-click="userCtrl.login(userInfo)"><button class="but">ورود</button></a>

            <p class="message">ثبت نام نکرده اید؟ <a href="#signup">ایجاد حساب</a></p>
        </form>
    </div>
</div>