<link rel="stylesheet" href="css/reserve.css">
<div id="head" class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div id="user" class="col-xs-5 col-md-2">
        <span><i class="fa fa-user fa-lg " aria-hidden="true" ></i> {{}} </span>
        <form ng-controller="FlightController as userCtrl" novalidate>
            <div class="user-dropdown">
                <a id="ticket" href="#">بلیط های من</a><br>
                <a id="exit" ng-click="userCtrl.logout()" href="#login">خروج</a>
            </div>
        </form>
    </div>
    <div class="col-xs-0 col-md-4"></div>
    <div class="col-xs-7 col-md-2">
        <a href="home.html">
            <img class="logo-image" src="images/assets/LogoBlack.png" alt="logo">
            <h1 class="logo-text">اکبر تیکت</h1>
            <i class="fa fa-registered fa-x" aria-hidden="true" ></i>
        </a>
    </div>
    <div class="col-xs-0 col-md-2"></div>
</div>
<div id="navparent" class="row">
    <div id="nav" class="col-xs-12 col-md-12">
        <a class="links">جستجوی پرواز &nbsp;</a>
        <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;
        <a class="page"> انتخاب پرواز &nbsp;</a>
        <i id="page" class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;
        <a class="links">  ورود اطلاعات &nbsp;</a>
        <i class="fa fa-angle-left" aria-hidden="true"></i> &nbsp;
        <a class="links"> دریافت بلیت</a>
    </div>
</div>
<div id="back" class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div id="text-above" class="col-xs-12 col-md-8">
        <div class="col-xs-12 col-md-9 col-md-push-3">
            <a class="back-link" href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i> برگشت به صفحه نتایج</a>
        </div>
        <div class="col-xs-12 col-md-3 col-md-pull-9">زمان باقی‌مانده: <span id="time"> ۰۴:۵۹ </span></div>
    </div>
    <div class="col-xs-0 col-md-2"></div>
</div>
<div id="gray" class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div id="gray-table" class="col-xs-12 col-md-8">
        <span id="info">مشخصات پرواز انتخابی شما</span>
        <div class="row">
            <div id="white-table1" class="col-xs-12 col-md-12">
                <div class="col-xs-3 col-md-3 col-md-push-9">
                    <div class="rows">{{selectedFlight.airlineCodePersian}} {{selectedFlight.flightNumber}}</div>
                    <div class="rows"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{selectedFlight.date}}</div>
                </div>
                <div id="loc" class="col-xs-6 col-md-6">{{selectedFlight.persianSource}} {{selectedFlight.departure}}
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> {{selectedFlight.persianDestination}} {{selectedFlight.arrival}}</div>
                <div class="col-xs-3 col-md-3 col-md-pull-9">
                    <div class="rows"><i class="fa fa-suitcase" aria-hidden="true"></i> کلاس {{selectedFlight.seatClass.name}}</div>
                    <div class="rows">‍<i class="fa fa-plane" aria-hidden="true"></i> {{selectedFlight.airplaneModel}}</div>
                </div>

            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>

        <span id="bill">صورتحساب سفر</span>
        <div class="row">
            <div>
                <div id="white-table2" class="col-xs-12 col-md-12">
                    <div id="bill-" class="row">
                        <div class="col-xs-6 col-md-2">مجموع</div>
                        <div class="col-xs-6 col-md-2">تعداد</div>
                        <div class="col-xs-6 col-md-2">به ازای هر نفر</div>
                        <div class="col-xs-6 col-md-6"></div>
                    </div>
                    <div id="bill-adult" class="row">
                        <div id="adultsPrice" class="col-xs-6 col-md-2">{{selectedFlight.adultPrice*adultCount}} ریال</div>
                        <div id="adultCount" class="col-xs-6 col-md-2">{{adultCount}} نفر</div>
                        <div class="col-xs-6 col-md-2">{{selectedFlight.adultPrice}} ریال</div>
                        <div class="col-xs-6 col-md-6">بزرگسال</div>
                    </div>
                    <div id="bill-child" class="row">
                        <div id="childsPrice" class="col-xs-6 col-md-2">{{selectedFlight.childPrice*childCount}} ریال</div>
                        <div id="childCount" class="col-xs-6 col-md-2">{{childCount}} نفر</div>
                        <div class="col-xs-6 col-md-2"> {{selectedFlight.childPrice}} ریال</div>
                        <div class="col-xs-6 col-md-6">کودک زیر ۱۲ سال</div>
                    </div>
                    <div id="bill-infant" class="row">
                        <div id="infantsPrice" class="col-xs-6 col-md-2">{{selectedFlight.infantPrice*infantCount}} ریال</div>
                        <div id="infantCount" class="col-xs-6 col-md-2">{{infantCount}} نفر</div>
                        <div class="col-xs-6 col-md-2"> {{selectedFlight.infantPrice}} ریال</div>
                        <div class="col-xs-6 col-md-6">نوزاد زیر ۲ سال</div>
                    </div>
                    <div id="bill-sum" class="row">
                        <div id="sum" class="col-xs-6 col-md-2">{{selectedFlight.adultPrice*adultCount + selectedFlight.childPrice*childCount + selectedFlight.infantPrice*infantCount}} ریال</div>
                        <div class="col-xs-6 col-md-2"></div>
                        <div class="col-xs-6 col-md-2"></div>
                        <div class="col-xs-6 col-md-6">مجموع</div>
                    </div>
                    <div class="row">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <span id="information">اطلاعات</span>
        <form ng-app="TRS" name="validation" ng-controller="validController" novalidate>
            <div id="adult-person" data-ng-repeat="i in [] | range:adultCount">
                <div class="row person" ng-attr-id="{{'adult'+i}}">
                    <div class="col-xs-12 col-md-2 col-md-push-10 name"><i class="fa fa-male fa-2x" aria-hidden="true"></i> {{i+1}}- بزرگسال:</div>
                    <div class="col-xs-12 col-md-1 col-md-push-7 gender">
                        <select ng-model="flightController.passengers[i].type">
                            <option value="MR"> آقای </option>
                            <option value="MRS"> خانم </option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-3 col-md-push-3"><input class="in" type="text" placeholder="نام(انگلیسی)" ng-model="flightController.passengers[i].firstName" required ng-minlength="2" ng-trim="false" ng-pattern="regex"></div>
                    <div class="col-xs-12 col-md-3 col-md-pull-3"><input class="in" type="text" placeholder="نام خانوادگی(انگلیسی)" ng-model="flightController.passengers[i].surname" required ng-minlength="2" ng-trim="false" ng-pattern="regex"></div>
                    <div class="col-xs-12 col-md-3 col-md-pull-9"><input class="in" type="text" placeholder="شماره ملی" ng-model="flightController.passengers[i].id" required ng-minlength="10" ng-maxlength="10" ng-trim="false" ng-pattern="number"></div>
                </div>
            </div>
            <div id="child-person" data-ng-repeat="i in [] | range:childCount">
                <div class="row person" ng-attr-id="{{'child'+i}}">
                    <div class="col-xs-12 col-md-2 col-md-push-10 name"><i class="fa fa-child fa-2x" aria-hidden="true"></i> {{i+1+(adultCount-0)}}- خردسال:</div>
                    <div class="col-xs-12 col-md-1 col-md-push-7 gender">
                        <select ng-model="flightController.passengers[i+(adultCount-0)].type">
                            <option value="MR"> آقای </option>
                            <option value="MRS"> خانم </option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-3 col-md-push-3 f-name"><input ng-model="flightController.passengers[i+(adultCount-0)].firstName" class="in" type="text" placeholder="نام(انگلیسی)" required ng-minlength="2" ng-trim="false" ng-pattern="regex"></div>
                    <div class="col-xs-12 col-md-3 col-md-pull-3 l-name"><input ng-model="flightController.passengers[i+(adultCount-0)].surname" class="in" type="text" placeholder="نام خانوادگی(انگلیسی)" required ng-minlength="2" ng-trim="false" ng-pattern="regex"></div>
                    <div class="col-xs-12 col-md-3 col-md-pull-9 ID-num"><input ng-model="flightController.passengers[i+(adultCount-0)].id" class="in" type="text" placeholder="شماره ملی" required ng-minlength="10" ng-maxlength="10" ng-trim="false" ng-pattern="number"></div>
                </div>
            </div>
            <div id="infant-person" data-ng-repeat="i in [] | range:infantCount">
                <div class="row person" ng-attr-id="{{'infant'+i}}">
                    <div class="col-xs-12 col-md-2 col-md-push-10 name"><i class="fa fa-child fa-lg" aria-hidden="true"></i>&nbsp; &nbsp;{{i+1+(adultCount-0)+(childCount-0)}}- نوزاد:</div>
                    <div class="col-xs-12 col-md-1 col-md-push-7 gender">
                        <select ng-model="flightController.passengers[i+(adultCount-0)+(childCount-0)].type">
                            <option value="MR"> آقای </option>
                            <option value="MRS"> خانم </option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-3 col-md-push-3 f-name"><input ng-model="flightController.passengers[i+(adultCount-0)+(childCount-0)].firstName" class="in" type="text" placeholder="نام(انگلیسی)" required ng-minlength="2" ng-trim="false" ng-pattern="regex"></div>
                    <div class="col-xs-12 col-md-3 col-md-pull-3 l-name"><input ng-model="flightController.passengers[i+(adultCount-0)+(childCount-0)].surname" class="in" type="text" placeholder="نام خانوادگی(انگلیسی)" required ng-minlength="2" ng-trim="false" ng-pattern="regex"></div>
                    <div class="col-xs-12 col-md-3 col-md-pull-9 ID-num"><input ng-model="flightController.passengers[i+(adultCount-0)+(childCount-0)].id" class="in" type="text" placeholder="شماره ملی" required ng-minlength="10" ng-maxlength="10" ng-trim="false" ng-pattern="number"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <button type="button" class="add-red" onClick="dec_infant();">کم کردن نوزاد</button>
                </div>
                <div class="col-xs-4 col-md-2">
                    <button type="button" class="add-green" onClick="inc_infant();">اضافه کردن نوزاد</button>
                </div>
                <div class="col-xs-4 col-md-2">
                    <button type="button" class="add-red" onClick="dec_child();">کم کردن خردسال</button>
                </div>
                <div class="col-xs-4 col-md-2">
                    <button type="button" class="add-green" onClick="inc_child();">اضافه کردن خردسال</button>
                </div>
                <div class="col-xs-4 col-md-2">
                    <button type="button" class="add-red" onClick="dec_adult();">کم کردن بزرگسال</button>
                </div>
                <div class="col-xs-4 col-md-2">
                    <button type="button" class="add-green" onClick="inc_adult();">اضافه کردن بزرگسال</button>
                </div>
            </div>

        </form>
            <div id="button" class="row">
                <div class="col-xs-6 col-md-3">
                    <a ng-click="flightController.sendPassengers(flightController.passengers)" ng-disable="validation.input.$invalid" href="#ticket"><button type="button" class="pay"> پرداخت و ثبت نهایی پرواز<i class="fa fa-angle-left" aria-hidden="true"></i> </button></a>
                </div>
                <div class="col-xs-4 col-md-2">
                    <button class="cancel">انصراف</button>
                </div>
            </div>
    </div>
    <div class="col-xs-0 col-md-2"></div>
</div>
<div class="footer">آیسا جوادزاد، ساسان یساری |دانشکده‌ فنی ‌دانشگاه‌ تهران، بهار ۱۳۹۶</div>
