<link rel="stylesheet" href="css/result.css">
<script src="js/reserve.js"></script>
<div id="head" class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div id="user" class="col-xs-5 col-md-2">
        <span><i class="fa fa-user fa-lg " aria-hidden="true" ></i> {{}} </span>
        <form ng-controller="FlightController as userCtrl" novalidate>
            <div class="user-dropdown">
                <a id="ticket" href="#">بلیط های من</a><br>
                <a id="exit" ng-click="userCtrl.logout()" href="#login">خروج</a>
            </div>
        </form>
    </div>
    <div class="col-xs-0 col-md-4"></div>
    <div class="col-xs-7 col-md-2">
        <a href="home.html">
            <img id = "logo-image" alt="logo" src= "images/assets/LogoBlack.png" >
            <div class="logo-text">اکبر تیکت</div>
            <i class="fa fa-registered fa-x" aria-hidden="true" ></i>
        </a>
    </div>
    <div class="col-xs-0 col-md-2"></div>
</div>
<div id="navparent" class="row">
    <div id="nav" class="col-xs-12 col-md-12">
        <a class="links">جستجوی پرواز &nbsp;</a>
        <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;
        <a class="page"> انتخاب پرواز &nbsp;</a>
        <i id="page" class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;
        <a class="links">  ورود اطلاعات &nbsp;</a>
        <i class="fa fa-angle-left" aria-hidden="true"></i> &nbsp;
        <a class="links"> دریافت بلیت</a>
    </div>
</div>
<div id="back" class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div id="text-above" class="col-xs-12 col-md-8">
        <div class="col-xs-12 col-md-7 col-md-push-5">
            <a class="back-link" href="home.html "><i class="fa fa-arrow-right" aria-hidden="true"></i>  برگشت به صفحه ی جستجو</a>
        </div>
        <div class="col-xs-12 col-md-5 col-md-pull-8">{{flights.length}} پرواز با مشخصات دلخواه شما پیدا شد </div>
    </div>
    <div class="col-xs-0 col-md-2"></div>
</div>
<div class = "row">
    <div class="col-xs-0 col-md-3"></div>
    <div class="col-xs-0 col-md-2"></div>
</div>
<input type="hidden" ng-model="seat">
<input type="hidden" ng-model="airline">
<div id="sort" class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div class = "col-xs-12 col-md-8" id ="filter">
     مرتب سازی بر اساس:
        <span data-ng-repeat="i in [] | range:flights.length" ng-hide="flightController.repS(flights, i)">
            <button class="sort" ng-click="flightController.seatChange(flights[i].seatClass.name)"> کلاس صندلی {{flights[i].seatClass.name}} </button>
        </span>
        <span data-ng-repeat="i in [] | range:flights.length" ng-hide="flightController.repA(flights, i)">
            <button class="sort" ng-click="flightController.airline(flights[i].airlineCode)"> هواپیمایی {{flights[i].airlineCodePersian}} </button>
        </span>    </div>
    <div class="col-xs-0 col-md-2"></div>
</div>

<div id="gray" class="row">
    <div class="col-xs-0 col-md-2"></div>
    <div id="gray-table" class="col-xs-12 col-md-8">
        <div class="row" ng-repeat="flight in flights | orderBy:flight.adultPrice">
            <div id="white" class="col-xs-12 col-md-12" ng-show="seat === flight.seatClass.name || airline === flight.airlineCode">
                <div class="col-xs-3 col-md-3 col-md-push-9">
                    <div id = "title" class="rows title">{{flight.airlineCodePersian}} {{flight.flightNumber}}</div>
                    <div ng-attr-id="{{'date'+flight.index}}" class="rows">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i> {{flight.date}}
                    </div>
                </div>
                <div id="loc" class="col-xs-6 col-md-6"> {{flight.persianSource}} {{flight.departure}}
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> {{flight.persianDestination}} {{flight.arrival}}
                    <div class="rows">
                        <i ng-attr-id="{{'from-logo'+flight.index}}" class="fa fa-plane fa-lg" aria-hidden="true"></i>
                        <span class = "num">{{flight.airplaneModel}}</span>
                        <i id = "fr-lg" class="fa fa-suitcase" aria-hidden="true"></i>
                        <span class = "num"> {{flight.seatClass.capacity}} صندلی باقیمانده کلاس {{flight.seatClass.name}}</span>
                    </div>
                </div>
                <div id="red-but" class="col-xs-3 col-md-3 col-md-pull-9">
                    <div class="rows">
                        <a ng-click="flightController.getFlight(flight.key, flight.seatClass.name, adultCount*flight.adultPrice + childCount*flight.childPrice + infantCount*flight.infantPrice)"><button class = "but"> {{adultCount*flight.adultPrice + childCount*flight.childPrice + infantCount*flight.infantPrice}} ریال<br> رزرو آنلاین</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
