<link rel="stylesheet" href="css/login.css">
<div class="login-page">
    <div class="form">
        <form class="register-form" id="registerForm" ng-controller="FlightController as userCtrl" novalidate>
            <input class="inp" ng-model="userCtrl.userInfo.username" type="text" placeholder="نام کاربری"/>
            <input class="inp" ng-model="userCtrl.userInfo.password" type="password" placeholder="گذرواژه"/>
            <input class="inp" ng-model="userCtrl.userInfo.email" type="text" placeholder="ایمیل"/>
            <a ng-click="userCtrl.create(userInfo)"><button class = "but">ثبت نام</button></a>

            <p class="message">ثبت نام کرده اید؟ <a href="#login">ورود</a></p>
        </form>
    </div>
</div>