<link rel="stylesheet" href="css/ticket.css">
<div id="print-popup" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
            <button class="print-popup-content">PDF</button>
            <button class="print-popup-content">Email</button>
        </div>
    </div>
</div>
<div id="head">
    <div class="two-1"></div>
    <div class="logo">
        <div>
            <img id = "logo-image" alt="logo" src= "images/assets/LogoBlack.png"/>
            <a href="home.html" class="logo-text">اکبر تیکت</a>
            <i class="fa fa-registered fa-x" aria-hidden="true" ></i>
        </div>
    </div>
    <div class="blank"></div>
    <div class="user">
        <span><i class="fa fa-user fa-lg " aria-hidden="true" ></i> نام کاربر </span>
        <form ng-controller="FlightController as userCtrl" novalidate>
            <div class="user-dropdown">
                <a class="drop" href="#">بلیط های من</a><br>
                <a id="exit" ng-click="userCtrl.logout()" href="#login">خروج</a>
            </div>
        </form>
    </div>
    <div class="two-2"></div>
</div>
<div id="navparent" class="row">
    <div id="nav" class="col-xs-12 col-md-12">
        <a class="links" href="home.html">جستجوی پرواز &nbsp;</a>
        <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;
        <a class="links" href="#"> انتخاب پرواز &nbsp;</a>
        <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;
        <a class="page" href="reserve.html">  ورود اطلاعات &nbsp;</a>
        <i id="page" class="fa fa-angle-left" aria-hidden="true"></i> &nbsp;
        <a class="links" href="ticket.html"> دریافت بلیت</a>
    </div>
</div>
<div class="back">
    <div class="two-1"></div>
    <div class="tickets">
        <a> بلیط های صادر شده </a>
    </div>
    <div class="print">
        <a id="print-but" href="#print-popup">چاپ همه</a>
    </div>
    <div class="two-2"></div>
</div>
<div class="container" data-ng-repeat="i in [] | range:adultCount">
    <div class="two-1"></div>
    <div class="gray">
        <div class="row-1">
            <div class="six-1">
                <div class="four">
                    {{tickets.referenceCode}}
                </div>
                <div class="two">
                    کد مرجع
                </div>
            </div>
            <div class="six-2">
                <div class="four">
                    {{tickets.ticketNumbers[i]}}
                </div>
                <div class="two">
                    شماره بلیط
                </div>
            </div>
        </div>
        <hr>
        <div class="row-2">
            <div class="five">
                <div class="four-2">
                    {{tickets.passengers[i].type}} Adult{{i+1}} {{tickets.passengers[i].surname}}
                </div>
                <div class="two-3">
                    نام
                </div>
            </div>
            <div class="three">
                <div class="four-2">
                    {{tickets.flight.airlineCodePersian}} {{tickets.flight.flightNumber}}
                </div>
                <div class="two-3">پرواز</div>
            </div>
            <div class="one">{{tickets.flight.seatClass.name}}</div>
            <div class="one">{{tickets.flight.airplaneModel}}</div>
        </div>
        <hr>
        <div class="row-3">
            <div class="text-1">از <div class="white">{{tickets.flight.persianSource}}</div></div>
            <div class="text-1">به <div class="white">{{tickets.flight.persianDestination}}</div></div>
            <div class="text-2">تاریخ <div class="white">{{tickets.flight.date}}</div></div>
            <div class="text-1">خروج <div class="white">{{tickets.flight.departure}}</div></div>
            <div class="text-1">ورود <div class="white">{{tickets.flight.arrival}}</div></div>
        </div>
    </div>
    <div class="two-2"></div>
</div>

<div class="container" data-ng-repeat="i in [] | range:childCount">
    <div class="two-1"></div>
    <div class="gray">
        <div class="row-1">
            <div class="six-1">
                <div class="four">
                    {{tickets.referenceCode}}
                </div>
                <div class="two">
                    کد مرجع
                </div>
            </div>
            <div class="six-2">
                <div class="four">
                    {{tickets.ticketNumbers[i+(adultCount-0)]}}
                </div>
                <div class="two">
                    شماره بلیط
                </div>
            </div>
        </div>
        <hr>
        <div class="row-2">
            <div class="five">
                <div class="four-2">
                    {{tickets.passengers[i+(adultCount-0)].type}} Child{{i+1}} {{tickets.passengers[i+(adultCount-0)].surname}}
                </div>
                <div class="two-3">
                    نام
                </div>
            </div>
            <div class="three">
                <div class="four-2">
                    {{tickets.flight.airlineCodePersian}} {{tickets.flight.flightNumber}}
                </div>
                <div class="two-3">
                    پرواز
                </div>
            </div>
            <div class="one">{{tickets.sc.charAt(0)}}</div>
            <div class="one">{{tickets.flight.airplaneModel}}</div>
        </div>
        <hr>
        <div class="row-3">
            <div class="text-1">از <div class="white">{{tickets.flight.persianSource}}</div></div>
            <div class="text-1">به <div class="white">{{tickets.flight.persianDestination}}</div></div>
            <div class="text-2">تاریخ <div class="white">{{tickets.flight.date}}</div></div>
            <div class="text-1">خروج <div class="white">{{tickets.flight.departure}}</div></div>
            <div class="text-1">ورود <div class="white">{{tickets.flight.arrival}}</div></div>
        </div>
    </div>
    <div class="two-2"></div>
</div>


<div class="container" data-ng-repeat="i in [] | range:infantCount">
    <div class="two-1"></div>
    <div class="gray">
        <div class="row-1">
            <div class="six-1">
                <div class="four">
                    {{tickets.referenceCode}}
                </div>
                <div class="two">
                    کد مرجع
                </div>
            </div>
            <div class="six-2">
                <div class="four">
                    {{tickets.ticketNumbers[i+(adultCount-0)+(childCount-0)]}}
                </div>
                <div class="two">
                    شماره بلیط
                </div>
            </div>
        </div>
        <hr>
        <div class="row-2">
            <div class="five">
                <div class="four-2">
                    {{tickets.passengers[i+(adultCount-0)+(childCount-0)].type}} Infant{{i+1}} {{tickets.passengers[i+(adultCount-0)+(childCount-0)].surname}}
                </div>
                <div class="two-3">
                    نام
                </div>
            </div>
            <div class="three">
                <div class="four-2">
                    {{tickets.flight.airlineCodePersian}} {{tickets.flight.flightNumber}}
                </div>
                <div class="two-3">
                    پرواز
                </div>
            </div>
            <div class="one">{{tickets.sc.charAt(0)}}</div>
            <div class="one">{{tickets.flight.airplaneModel}}</div>
        </div>
        <hr>
        <div class="row-3">
            <div class="text-1">از <div class="white">{{tickets.flight.persianSource}}</div></div>
            <div class="text-1">به <div class="white">{{tickets.flight.persianDestination}}</div></div>
            <div class="text-2">تاریخ <div class="white">{{tickets.flight.date}}</div></div>
            <div class="text-1">خروج <div class="white">{{tickets.flight.departure}}</div></div>
            <div class="text-1">ورود <div class="white">{{tickets.flight.arrival}}</div></div>
        </div>
    </div>
    <div class="two-2"></div>
</div>